fcomb {
  jwt.secret = "2AD69A36899039C708DB5729B1C8455AA8748D489C5A56E883A988044AF32424"

  jdbc {
    url = "jdbc:postgresql://127.0.0.1:5432/fcomb"
    user = "postgres"
    password = ""
  }

  smtp {
    host = "smtp.googlemail.com"
    user = "fcomb"
    password = ""
  }
}
