fcomb-server {
  akka {
    event-handlers = ["akka.event.slf4j.Slf4jEventHandler"]
    loggers = ["akka.event.slf4j.Slf4jLogger"]
    loglevel = "INFO"
    stdout-loglevel = "INFO"
    log-dead-letters = 10
    log-dead-letters-during-shutdown = off

    io.tcp.trace-logging = on
    # actor.debug {
    #   receive = on
    #   autoreceive = on
    #   lifecycle = on
    #   event-stream = on
    #   unhandled = on
    #   router-misconfiguration = on
    # }

    # stream.materializer.debug-logging = true
  }

  jwt.secret = "2AD69A36899039C708DB5729B1C8455AA8748D489C5A56E883A988044AF32424"

  jdbc {
    url = "jdbc:postgresql://127.0.0.1:5432/fcomb"
    user = "postgres"
    password = ""
  }

  jdbc-slick.properties = ${fcomb-server.jdbc}

  smtp {
    host = "smtp.googlemail.com"
    user = "fcomb"
    password = ""
  }
}

akka-persistence-jdbc.slick.db = ${fcomb-server.jdbc}
