<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ISO8601} %-5level %logger %X{akkaSource} %X{sourceThread} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="slick" level="INFO" />
  <!-- <logger name="slick.jdbc.JdbcBackend.statement" level="DEBUG" /> -->
  <!-- <logger name="slick.jdbc.StatementInvoker.result" level="DEBUG" /> -->
  <!-- <logger name="slick.compiler.QueryCompilerBenchmark" level="DEBUG" /> -->

  <logger name="com.github.dwhjames.awswrap.s3.FutureTransfer" level="INFO" />
  <logger name="com.zaxxer.hikari" level="INFO" />
</configuration>
